@import '../../static/style/mixins.scss';

.wrapper {
  @extend .pageWidth;
  @extend .blockBorder;
  @extend .pageBackground;
  margin-top: 50px;
}

.uploadBtn {
  @include splitLine(bottom);
}

.emptyList {
  text-align: center;
  padding: 20px 0;
  @extend .note_text;
}