@import '../../static/style/mixins.scss';


.panel {
  width: 400px;
  height: 400px;
  margin: 100px auto 0px;
  box-shadow: 2px 2px 10px rgba(#333, 0.3);
  background: #fff;
  box-sizing: border-box;
  padding: 30px 10px;
  position: relative;

  h1 {
    @extend .mainTitle;
    text-align: center;
  }
}

.form {
  margin: 60px auto 0;
}

.controller {
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: 60px;
}