@import "../../static/style/mixins.scss";

.wrapper {
  @extend .pageWidth;
  padding-top: 50px;
}

.blogTabber {
  display: flex;
  justify-content: center;
  

  & > a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: #f44;
    border-radius: 8px;
    padding: 10px 20px;

    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

.hidden {
  display: none;
}
