@import '../../static/style/mixins.scss';

.wrapper {
  outline: none;
  border: 1px solid #4f98ca;
  border-radius: 8px;
  padding: 10px;
}

.title {
  @extend .large_text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  max-height: 0px;
  overflow-y: hidden;
  transition: max-height 2s ease;
}

.showContent {
  max-height: 500px;
}

.briefNote {
  @extend .note_text;
  opacity: 1;
  height: 14px;
  transition: all 1s ease;
}

.briefDispear{
  opacity: 0;
  height: 0;
}
