@import '../../static/style/mixins';

.wrapper {
  margin: 100px auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1300px) {
    width: 1100px;
  }

  @media screen and (min-width: 1600px) {
    width: 1300px;
  }
}

.wrapper .drageWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: #fff;
  box-shadow: 0 0 10px rgba(#33bbff, 0.7);
  overflow: auto;
  position: relative;
  outline: none;
  height: 400px;
  box-sizing: border-box;
  padding: 20px;

  &:hover {
    box-shadow: 0 0 10px rgba(#f44, 0.5);

  }

  @media screen and (min-height: 800px) {
    height: 600px;
  }
  @media screen and (min-height: 1000px) {
    height: 800px;
  }

}

.title {
  @extend .mainTitle;
}

.controller {
  text-align: right;
  padding: 20px 0;
  display: block;
  box-sizing: border-box;
}

.dragArea {
  padding: 0 10px;
}

.formController {
  text-align: right;
}

.noteWrapper {
  display: flex;
  justify-content: space-between;
}

.noteId {
  flex: 0 20%;
}

.noteTitle {
  flex: 1;
  overflow: hidden;

  & > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tag {
  width: 120px;
  display: flex;
  justify-content: center;
}

.content {
  padding: 10px 0 0;
}

.todoContent {
  flex: 1;
  overflow: auto;
  padding: 0 10px;
  outline: none;
}

.workStatus {
  display: flex;
  justify-content: space-between;
  @extend .note_text;
  align-items: center;
}

.detailContent {
  @extend .normal_text;
  background: #eee;
  margin: 10px;
}

.subController {
  text-align: right;
}