@import '../../static/style/mixins.scss';

.header {
  font-family: 'betty';
}

.banner {
  width: 500px;
  margin: 50px auto;
}

.show {
  @include pageFadeIn(2s);
  @extend .pageWidth;
  margin: 0 auto;
}

.controller {
  text-align: center;
  margin-bottom: 20px;
}

.contentList {
  display: flex;
  flex-direction: row-reverse;
}

.left {
  width: 300px;
}

.todoList {
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
  @extend .blockBorder;
}

.itemTitle {
  @extend .subtitle;
}

.blogList {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 10px;
  @extend .blockBorder;
  min-height: 600px;
}

.errorEvent {
  @extend .note_text;
  color: red;
}

.warning {
  @extend .note_text;
  color: #fe9801;

}

.cardTitle {
  color: #3e206d;
  font-weight: blod;
  position: relative;
  left: -10px;
}

.itemBrief {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.panelControl {
  margin-top: 10px;
  text-align: right;
  color: #333;

  & > span {
    cursor: pointer;

    &:hover {
      color: #bbb;
    }
  }
}