@import "../../static/style/mixins.scss";

.wrapper {
  @include blockShadow(#333);
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
}

.cursorPointer {
  cursor: pointer;
}

.title {
  @extend .large_text;
  font-size: 18px;
  margin-bottom: 15px;
  @include setEllipse(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleText {
  flex: 1;
  overflow: hidden;
}

.controller {
  flex: 0 200px;
  text-align: right;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.brief {
  @extend .normal_text;
  font-size: 16px;
  margin-bottom: 5px;
  @include setEllipse(2);
  text-indent: 28px;
}

.bottom {
  @extend .note_text;
  font-size: 14px;
  display: flex;
  align-items: center;

  & > span {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.right {
  flex: 1;
  & > span {
    margin-right: 10px;
    float: right;
  }
}

.bold {
  @extend .normal_text;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.important {
  font-weight: 600;
  color: #f44;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.tips {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba($color: #333, $alpha: 0.4);
  background-color:rgba($color: #fff, $alpha: 0.5);
  color: #f44;
  position: relative;
  left: 60px;
}
