@import '../../static/style/mixins.scss';

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.bottom {
  @extend .note_text;
  font-size: 14px;
  & > span {
    margin-right: 10px;
  }
  display: flex;
  align-items: center;
}

.extraBody {
  flex: 1;
  margin-right: 10px;
}