@font-face {
  font-family: pictos;
  src: url('../font/LilyoftheValley.ttf');
}

@font-face {
  font-family: lason;
  src: url('../font/la-sonnambula-demo-ffp.ttf');
}

@font-face {
  font-family: betty;
  src: url('../font/bellada\ personal\ license.ttf');
}

@mixin pageFadeIn($seconds) {
  animation: fadeIn $seconds ease-out;
  animation-fill-mode: backwards;
}

@mixin blockShadow($color) {
  box-shadow: 0 0 5px rgba($color, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }

  75% {
    opacity: 0.2;
    // transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pageWidth {
  width: 1000px;

  @media screen and (min-width: 1300px) {
    width: 1100px;
  }

  @media screen and (min-width: 1600px) {
    width: 1300px;
  }
  margin: 0 auto;
}

.blockBorder {
  @include blockShadow(#916dd5);
  border-radius: 8px;
}

.mainTitle {
  font-size: 32px;
  line-height: 40px;
  color: #383;
  font-family: pictos;
}

.large_text {
  color: #eb4d55;
  font-size: 16px;
  line-height: 20px;
}

.normal_text {
  color: #230444;
  font-size: 14px;
  line-height: 16px;
}

.note_text {
  color: #bbbbbb;
  font-size: 14px;
  line-height: 16px;
}

.subtitle {
  color: #fa163f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border-left: 2px solid #f44;
  padding-left: 20px;
  border-radius: 2px;
  margin-bottom: 8px;
}
