@font-face {
  font-family: pictos;
  src: url("../font/LilyoftheValley.ttf");
}

.mainTitle {
  font-size: 32px;
  line-height: 40px;
  color: #383;
  font-family: pictos;
}

.large_text {
  color: #eb4d55;
  font-size: 16px;
  line-height: 20px;
}

.normal_text {
  color: #230444;
  font-size: 14px;
  line-height: 16px;
}

.note_text {
  color: #bbbbbb;
  font-size: 14px;
  line-height: 16px;
}

.subtitle {
  color: #fa163f;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
